body{
	background:#E35BBB;
	color:#fff;
	font-family:"Times", sans-serif;
	font-size:14px;  
}

#container{
	width:60%;
	background:#FA2BBE; 
	margin:20px auto;
	overflow:auto;
	padding:25%;    
}

header{
	text-align:center;
	border-bottom:#fff dashed 10px;  
}

header h1{
	margin:0;
	padding:0;
	color:yellow;  
}

header p{
	padding:0;
	margin-top:10px;
	color:#000000; 
}
h3{
	color:#000000; 
}

section{
	min-height:410px; 
}
input[type="sumit"]{
	background:#f06226;
	border:0;
	color:#fff;
	padding:50px 50px;
	cursor:pointer;   
}
#resultado h3{
	background:#C6D848;
	padding:10px;
	margin:10px 0;   
}

#resultado span{
	color:#000;
	font-weight:bold;  
}
footer{
	background:#CF71F5;
	padding:25px;
}
  footer #hsh{
 	background: #CA7D51;
 	padding:25px;
 } 